@model List<EmployeeViewModel>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>م</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Employee Id</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            if (d.Id != User.FindFirst(ClaimTypes.NameIdentifier).Value)
            {
                <tr>
                    <td>@d.Id</td>
                    <td><a asp-area="Admin" asp-controller="Employees" asp-action="Show" asp-route-id="@d.Id">@d.Employee_Name</a></td>
                    <td>@d.UserName</td>
                    <td>@d.Employment_Id</td>
                    <td>@d.Email</td>
                    <td>
                    <a asp-area="Admin" asp-controller="Employees" asp-action="EditEmployee" asp-route-id="@d.Id"><i class="fa-solid fa-user-pen"></i></a> 
                    <a asp-area="Admin" asp-controller="Employees" asp-action="DeleteEmployee" asp-route-id="@d.Id"><i class="fa-solid fa-user-xmark"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
